#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('../data/supermarket_sales.csv')

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [5]:
df.groupby('Branch')['Total'].sum().sort_values(ascending=False)

Branch
C    110568.7065
A    106200.3705
B    106197.6720
Name: Total, dtype: float64

–§—ñ–ª—ñ–∞–ª –° –º–∞—î –Ω–∞–π–≤–∏—â–∏–π —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [7]:
df.groupby(['Branch', 'City'])['Total'].agg(['max', 'sum'])

                      max          sum
Branch City
A      Yangon     1039.29  106200.3705
B      Mandalay   1022.49  106197.6720
C      Naypyitaw  1042.65  110568.7065

In [9]:
df.groupby(['Branch', 'City'])['Total'].sum().sort_values(ascending=False)

Branch  City
C       Naypyitaw    110568.7065
A       Yangon       106200.3705
B       Mandalay     106197.6720
Name: Total, dtype: float64

–í –º—ñ—Å—Ç—ñ Naypyitaw –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –° –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É–∫–æ–º

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [11]:
invoices_by_category = df.pivot_table(index='Branch', columns='Product line', values='Invoice ID', aggfunc='count', fill_value=0)

print(invoices_by_category)

Product line  Electronic accessories  Fashion accessories  Food and beverages  \
Branch
A                                 60                   51                  58
B                                 55                   62                  50
C                                 55                   65                  66

Product line  Health and beauty  Home and lifestyle  Sports and travel
Branch
A                            47                  65                 59
B                            53                  50                 62
C                            52                  45                 45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [15]:
branch_with_max_invoices = invoices_by_category['Electronic accessories'].idxmax()
print(f"–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é —ñ–Ω–≤–æ–π—Å—ñ–≤ –¥–ª—è –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Electronic accessories': {branch_with_max_invoices}")

–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é —ñ–Ω–≤–æ–π—Å—ñ–≤ –¥–ª—è –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Electronic accessories': A

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

–ì—ñ–ø–æ—Ç–µ–∑–∞ 1:
–ü–∏—Ç–∞–Ω–Ω—è: –Ø–∫—ñ –ª—ñ–Ω—ñ—ó –ø—Ä–æ–¥—É–∫—Ç—ñ–≤ (Product line) –Ω–∞–π–±—ñ–ª—å—à–µ –∫—É–ø—É—é—Ç—å –∑–∞–ª–µ–∂–Ω–æ –≤—ñ–¥ –º—ñ—Å—Ç–∞ (City)?

–ê–Ω–∞–ª—ñ—Ç–∏–∫–∞: –¶–µ –¥–æ–ø–æ–º–æ–∂–µ –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –ø—Ä–æ–¥—É–∫—Ç–∏ –ø–æ–ø—É–ª—è—Ä–Ω—ñ –≤ —Ä—ñ–∑–Ω–∏—Ö –º—ñ—Å—Ç–∞—Ö, —â–æ –¥–æ–∑–≤–æ–ª–∏—Ç—å –∫—Ä–∞—â–µ —É–ø—Ä–∞–≤–ª—è—Ç–∏ –∑–∞–ø–∞—Å–∞–º–∏ —Ç–∞ –∞–¥–∞–ø—Ç—É–≤–∞—Ç–∏ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ñ —Å—Ç—Ä–∞—Ç–µ–≥—ñ—ó –ø—ñ–¥ –∫–æ–Ω–∫—Ä–µ—Ç–Ω—ñ —Ä–µ–≥—ñ–æ–Ω–∏.

In [25]:
df.groupby(['City', 'Product line']).size().unstack()

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
City,,,,,,
Mandalay,55,62,50,53,50,62
Naypyitaw,55,65,66,52,45,45
Yangon,60,51,58,47,65,59

–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó: 
1.–í—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ –¥–æ –¥–∞–Ω–∏—Ö, –±—ñ–∑–Ω–µ—Å –º–æ–∂–µ –∞–¥–∞–ø—Ç—É–≤–∞—Ç–∏ –∑–∞–ø–∞—Å–∏ –ø—ñ–¥ –∫–æ–∂–Ω–µ –º—ñ—Å—Ç–æ. –ù–∞–ø—Ä–∏–∫–ª–∞–¥, —É Mandalay –º–æ–∂–Ω–∞ –∑–±—ñ–ª—å—à–∏—Ç–∏ –∑–∞–ø–∞—Å–∏ "Fashion accessories" —ñ "Sports and travel", –æ—Å–∫—ñ–ª—å–∫–∏ —Ü—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –º–∞—é—Ç—å –≤–∏—Å–æ–∫–∏–π –ø–æ–ø–∏—Ç. –£ Naypyitaw –≤–∞—Ä—Ç–æ –∑–æ—Å–µ—Ä–µ–¥–∏—Ç–∏—Å—è –Ω–∞ "Food and beverages", –∞ –≤ Yangon ‚Äî –Ω–∞ "Home and lifestyle" —ñ "Electronic accessories". –¶–µ –∑–º–µ–Ω—à–∏—Ç—å —Ä–∏–∑–∏–∫ –Ω–∞–¥–ª–∏—à–∫—É —Ç–æ–≤–∞—Ä—ñ–≤, —è–∫—ñ –º–µ–Ω—à –ø–æ–ø—É–ª—è—Ä–Ω—ñ –≤ –ø–µ–≤–Ω–∏—Ö –º—ñ—Å—Ç–∞—Ö. 
2.–ë—ñ–∑–Ω–µ—Å –º–æ–∂–µ —Ä–æ–∑—Ä–æ–±–∏—Ç–∏ —Å–ø–µ—Ü—ñ–∞–ª—å–Ω—ñ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ñ –∫–∞–º–ø–∞–Ω—ñ—ó, –æ—Ä—ñ—î–Ω—Ç–æ–≤–∞–Ω—ñ –Ω–∞ –ø–æ–ø—É–ª—è—Ä–Ω—ñ –ø—Ä–æ–¥—É–∫—Ç–∏ –≤ –∫–æ–∂–Ω–æ–º—É –º—ñ—Å—Ç—ñ. –ù–∞–ø—Ä–∏–∫–ª–∞–¥, —É Yangon –≤–∞—Ä—Ç–æ –±—ñ–ª—å—à–µ —ñ–Ω–≤–µ—Å—Ç—É–≤–∞—Ç–∏ –≤ —Ä–µ–∫–ª–∞–º—É "Home and lifestyle", —Ç–æ–¥—ñ —è–∫ —É Naypyitaw –º–æ–∂–Ω–∞ –∞–∫—Ç–∏–≤–Ω–æ –ø—Ä–æ—Å—É–≤–∞—Ç–∏ "Food and beverages". –¶–µ –¥–æ–ø–æ–º–æ–∂–µ –∑–∞–ª—É—á–∏—Ç–∏ –±—ñ–ª—å—à–µ –∫–ª—ñ—î–Ω—Ç—ñ–≤ —ñ –∑–±—ñ–ª—å—à–∏—Ç–∏ –ø—Ä–æ–¥–∞–∂—ñ. 
3.–ú—ñ—Å—Ç–∞ –∑ —Ä—ñ–∑–Ω–∏–º–∏ —É–ø–æ–¥–æ–±–∞–Ω–Ω—è–º–∏ –º–æ–∂—É—Ç—å —Å—Ç–∞—Ç–∏ —Ç–µ—Å—Ç–æ–≤–∏–º–∏ –º–∞–π–¥–∞–Ω—á–∏–∫–∞–º–∏ –¥–ª—è –Ω–æ–≤–∏—Ö –ø—Ä–æ–¥—É–∫—Ç—ñ–≤. –ù–∞–ø—Ä–∏–∫–ª–∞–¥, —è–∫—â–æ —É Mandalay –¥–æ–±—Ä–µ –ø—Ä–æ–¥–∞—é—Ç—å—Å—è "Fashion accessories", –Ω–æ–≤—ñ –ø—Ä–æ–¥—É–∫—Ç–∏ —Ü—ñ—î—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –º–æ–∂–Ω–∞ –ø–µ—Ä—à –∑–∞ –≤—Å–µ –∑–∞–ø—É—Å–∫–∞—Ç–∏ —Å–∞–º–µ —Ç–∞–º.

–ì—ñ–ø–æ—Ç–µ–∑–∞ 2:
–ü–∏—Ç–∞–Ω–Ω—è: –Ø–∫ –ø–æ–¥–∞—Ç–∫–∏ –≤–ø–ª–∏–≤–∞—é—Ç—å –Ω–∞ –∑–∞–≥–∞–ª—å–Ω—É —Ä–µ–Ω—Ç–∞–±–µ–ª—å–Ω—ñ—Å—Ç—å?
–ê–Ω–∞–ª—ñ—Ç–∏–∫–∞: –¶–µ –¥–æ–∑–≤–æ–ª–∏—Ç—å –æ–ø—Ç–∏–º—ñ–∑—É–≤–∞—Ç–∏ –≤–∏—Ç—Ä–∞—Ç–∏ —Ç–∞ –ø–æ–¥–∞—Ç–∫–æ–≤—ñ –∑–æ–±–æ–≤'—è–∑–∞–Ω–Ω—è –¥–ª—è –ø–æ–∫—Ä–∞—â–µ–Ω–Ω—è –∑–∞–≥–∞–ª—å–Ω–æ—ó —Ñ—ñ–Ω–∞–Ω—Å–æ–≤–æ—ó –µ—Ñ–µ–∫—Ç–∏–≤–Ω–æ—Å—Ç—ñ.

In [50]:
total_tax = df['Tax 5%'].sum()
total_cogs = df['cogs'].sum()

print(f"Total Tax: {total_tax}")
print(f"Total COGS: {total_cogs}")

if total_cogs > 0:
    tax_cogs = total_tax / total_cogs
    print(f"Tax to COGS Ratio: {tax_cogs:.2%}")

Total Tax: 15379.368999999999
Total COGS: 307587.38
Tax to COGS Ratio: 5.00%

–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó: –°—É–º–∞ –ø–æ–¥–∞—Ç–∫—ñ–≤ (15,379.37) —î –¥–æ—Å–∏—Ç—å —Å—É—Ç—Ç—î–≤–æ—é, –∞–ª–µ –¥–ª—è –ø–æ–≤–Ω–æ–≥–æ —Ä–æ–∑—É–º—ñ–Ω–Ω—è –Ω–µ–æ–±—Ö—ñ–¥–Ω–æ –ø–æ—Ä—ñ–≤–Ω—è—Ç–∏ —Ü—ñ –¥–∞–Ω—ñ –∑ –∑–∞–≥–∞–ª—å–Ω–∏–º–∏ –¥–æ—Ö–æ–¥–∞–º–∏ –∫–æ–º–ø–∞–Ω—ñ—ó.
–í–∏—Ç—Ä–∞—Ç–∏ (COGS): –ó–∞–≥–∞–ª—å–Ω–∞ —Å—É–º–∞ –≤–∏—Ç—Ä–∞—Ç –Ω–∞ –≤–∏—Ä–æ–±–Ω–∏—Ü—Ç–≤–æ —Ç–∞ –∑–∞–∫—É–ø—ñ–≤–ª—é —Ç–æ–≤–∞—Ä—ñ–≤ —Å–∫–ª–∞–¥–∞—î 307,587.38. –¶–µ –∑–Ω–∞—á–Ω–∞ —Å—É–º–∞, —è–∫–∞ –≤–ø–ª–∏–≤–∞—î –Ω–∞ —Ä–µ–Ω—Ç–∞–±–µ–ª—å–Ω—ñ—Å—Ç—å –∫–æ–º–ø–∞–Ω—ñ—ó.
–°–ø—ñ–≤–≤—ñ–¥–Ω–æ—à–µ–Ω–Ω—è –ø–æ–¥–∞—Ç–∫—ñ–≤ –¥–æ –≤–∏—Ç—Ä–∞—Ç (5.00%): –¶–µ –ø–æ–∫–∞–∑—É—î, —â–æ –ø–æ–¥–∞—Ç–∫–∏ —Å–∫–ª–∞–¥–∞—é—Ç—å 5% –≤—ñ–¥ –∑–∞–≥–∞–ª—å–Ω–∏—Ö –≤–∏—Ç—Ä–∞—Ç –Ω–∞ —Ç–æ–≤–∞—Ä–∏. 
1. –í–∞—Ä—Ç–æ –ø–µ—Ä–µ–≤—ñ—Ä–∏—Ç–∏, —á–∏ —î –º–æ–∂–ª–∏–≤—ñ—Å—Ç—å –æ–ø—Ç–∏–º—ñ–∑–∞—Ü—ñ—ó –ø–æ–¥–∞—Ç–∫–æ–≤–∏—Ö –∑–æ–±–æ–≤'—è–∑–∞–Ω—å. –ú–æ–∂–ª–∏–≤–æ, –≤–∞—Ä—Ç–æ –ø—Ä–æ–∫–æ–Ω—Å—É–ª—å—Ç—É–≤–∞—Ç–∏—Å—è –∑ –ø–æ–¥–∞—Ç–∫–æ–≤–∏–º –∫–æ–Ω—Å—É–ª—å—Ç–∞–Ω—Ç–æ–º, —â–æ–± –¥—ñ–∑–Ω–∞—Ç–∏—Å—è –ø—Ä–æ –¥–æ—Å—Ç—É–ø–Ω—ñ –ø—ñ–ª—å–≥–∏ –∞–±–æ —Å–ø–æ—Å–æ–±–∏ –∑–º–µ–Ω—à–µ–Ω–Ω—è –ø–æ–¥–∞—Ç–∫–æ–≤–æ–≥–æ –Ω–∞–≤–∞–Ω—Ç–∞–∂–µ–Ω–Ω—è.
2. –í–∞—Ä—Ç–æ –ø—Ä–µ–≥–ª—è–Ω—É—Ç–∏ –≤–∏—Ç—Ä–∞—Ç–∏ –Ω–∞ –∑–∞–∫—É–ø—ñ–≤–ª—é —Ç–æ–≤–∞—Ä—ñ–≤, —â–æ–± –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —á–∏ –º–æ–∂–Ω–∞ —ó—Ö –∑–º–µ–Ω—à–∏—Ç–∏. –¶–µ –º–æ–∂–µ –≤–∫–ª—é—á–∞—Ç–∏ –ø–µ—Ä–µ–≥–æ–≤–æ—Ä–∏ –∑ –ø–æ—Å—Ç–∞—á–∞–ª—å–Ω–∏–∫–∞–º–∏ –¥–ª—è –æ—Ç—Ä–∏–º–∞–Ω–Ω—è –∫—Ä–∞—â–∏—Ö —É–º–æ–≤.
3. –ú–æ–∂–Ω–∞ –ø–æ—Ä—ñ–≤–Ω—è—Ç–∏ —Å–ø—ñ–≤–≤—ñ–¥–Ω–æ—à–µ–Ω–Ω—è –ø–æ–¥–∞—Ç–∫—ñ–≤ –¥–æ –≤–∏—Ç—Ä–∞—Ç –∑ –≥–∞–ª—É–∑–µ–≤–∏–º–∏ —Å—Ç–∞–Ω–¥–∞—Ä—Ç–∞–º–∏ –∞–±–æ —Å–µ—Ä–µ–¥–Ω—ñ–º–∏ –ø–æ–∫–∞–∑–Ω–∏–∫–∞–º–∏. –¶–µ –¥–æ–∑–≤–æ–ª–∏—Ç—å –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —á–∏ —Å–ø—ñ–≤–≤—ñ–¥–Ω–æ—à–µ–Ω–Ω—è —î –Ω–æ—Ä–º–∞–ª—å–Ω–∏–º, —á–∏ —î –º—ñ—Å—Ü–µ –¥–ª—è –ø–æ–∫—Ä–∞—â–µ–Ω–Ω—è.

–ì—ñ–ø–æ—Ç–µ–∑–∞ 3: –ê–Ω–∞–ª—ñ–∑ —Ä–µ–Ω—Ç–∞–±–µ–ª—å–Ω–æ—Å—Ç—ñ –∑–∞ —Ç–∏–ø–∞–º–∏ –∫–ª—ñ—î–Ω—Ç—ñ–≤. –Ø–∫—â–æ —á–ª–µ–Ω–∏ –ø—Ä–∏–Ω–æ—Å–∞—Ç—å –±—ñ–ª—å—à–µ –ø—Ä–∏–±—É—Ç–∫—É, –ø–æ–¥—É–º–∞–π—Ç–µ –ø—Ä–æ —Ä–æ–∑—Ä–æ–±–∫—É –ø—Ä–æ–≥—Ä–∞–º–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –∞–±–æ —Å–ø–µ—Ü—ñ–∞–ª—å–Ω–∏—Ö –∞–∫—Ü—ñ–π –¥–ª—è –Ω–∏—Ö.

In [66]:
df.groupby('Customer type').agg(total_sales = ('Total', 'sum'), avg_gross_margin_percentage = ('gross margin percentage', 'mean'))

               total_sales  avg_gross_margin_percentage
Customer type
Member          164223.444                     4.761905
Normal          158743.305                     4.761905

–†–µ–∑—É–ª—å—Ç–∞—Ç:–ó–∞–≥–∞–ª—å–Ω–∏–π –¥–æ—Ö—ñ–¥ –≤—ñ–¥ —á–ª–µ–Ω—ñ–≤ —Ç—Ä–æ—Ö–∏ –≤–∏—â–∏–π –∑–∞ –¥–æ—Ö—ñ–¥ –≤—ñ–¥ –∑–≤–∏—á–∞–π–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤.
–°–µ—Ä–µ–¥–Ω—è —Ä–µ–Ω—Ç–∞–±–µ–ª—å–Ω—ñ—Å—Ç—å (gross margin percentage) —î –æ–¥–Ω–∞–∫–æ–≤–æ—é –¥–ª—è –æ–±–æ—Ö —Ç–∏–ø—ñ–≤ –∫–ª—ñ—î–Ω—Ç—ñ–≤ ‚Äî 4.76%.
–í–∏—Å–Ω–æ–≤–æ–∫: –ù–µ–∑–∞–ª–µ–∂–Ω–æ –≤—ñ–¥ —Ç–∏–ø—É –∫–ª—ñ—î–Ω—Ç–∞, —Ä–µ–Ω—Ç–∞–±–µ–ª—å–Ω—ñ—Å—Ç—å –∑–∞–ª–∏—à–∞—î—Ç—å—Å—è —Å—Ç–∞–±—ñ–ª—å–Ω–æ—é. 

–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:
1. –ó–æ—Å–µ—Ä–µ–¥—å—Ç–µ—Å—è –Ω–∞ –∑–∞–ª—É—á–µ–Ω–Ω—ñ –±—ñ–ª—å—à–µ —á–ª–µ–Ω—ñ–≤: –æ—Å–∫—ñ–ª—å–∫–∏ –¥–æ—Ö–æ–¥–∏ –≤—ñ–¥ —á–ª–µ–Ω—ñ–≤ —î –≤–∏—â–∏–º–∏, —Ä–æ–∑–≥–ª—è–Ω—å—Ç–µ –º–æ–∂–ª–∏–≤—ñ—Å—Ç—å —Ä–æ–∑—à–∏—Ä–µ–Ω–Ω—è –ø—Ä–æ–≥—Ä–∞–º–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –∞–±–æ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–∏—Ö –ø–µ—Ä–µ–≤–∞–≥ –¥–ª—è —á–ª–µ–Ω—ñ–≤. –¶–µ –º–æ–∂–µ –≤–∫–ª—é—á–∞—Ç–∏ —Å–ø–µ—Ü—ñ–∞–ª—å–Ω—ñ –∞–∫—Ü—ñ—ó, –∑–Ω–∏–∂–∫–∏ –∞–±–æ –µ–∫—Å–∫–ª—é–∑–∏–≤–Ω—ñ –ø—Ä–æ–¥—É–∫—Ç–∏ –¥–ª—è —á–ª–µ–Ω—ñ–≤.
2. –†–æ–∑–≥–ª—è–Ω—å—Ç–µ –º–æ–∂–ª–∏–≤—ñ—Å—Ç—å –ø–æ–∫—Ä–∞—â–µ–Ω–Ω—è –ø—Ä–æ–≥—Ä–∞–º–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ: –æ—Å–∫—ñ–ª—å–∫–∏ —Ä–µ–Ω—Ç–∞–±–µ–ª—å–Ω—ñ—Å—Ç—å –æ–¥–Ω–∞–∫–æ–≤–∞ –¥–ª—è –æ–±–æ—Ö —Ç–∏–ø—ñ–≤ –∫–ª—ñ—î–Ω—Ç—ñ–≤, –ø—ñ–¥–≤–∏—â–µ–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —á–ª–µ–Ω—ñ–≤ –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–≥—ñ–¥–Ω–∏–º –¥–ª—è –±—ñ–∑–Ω–µ—Å—É. –ú–æ–∂–ª–∏–≤–æ, –≤–∞—Ä—Ç–æ —ñ–Ω–≤–µ—Å—Ç—É–≤–∞—Ç–∏ –≤ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥ —Ç–∞ —Ä–µ–∫–ª–∞–º—É –¥–ª—è –∑–∞–ª—É—á–µ–Ω–Ω—è –Ω–æ–≤–∏—Ö —á–ª–µ–Ω—ñ–≤.